$corDeFundo: #000;
$corDoTexto: #ffffff;
$corDeFundoBotao: #e50914;
$corGradient: #f82d37;
$corBordaInput: #8c8c8c;
$corBranca: #fff;
$corFundoFaq: #303030;
$corTextFooter: #737373;
$corBorda: #333;
$corBordaHero: #222;
$corTextLinkFooter: #999;